node_modules/
__pycache__/
*.pyc
backend/venv/
backend/build/
backend/dist/
backend/*.spec
electron/dist-app/
electron/node_modules/
electron/frontend-dist/
electron/app/
frontend/dist/
frontend/node_modules/
.DS_Store
*.log
*.dmg
*.blockmap
